<div class="detail-route">
        <i class="ti-home"> <a href="/">Trang Chủ ></a></i>
        <i class="ti-angle-right"><a href="/{{this.brand}}">{{this.brand}} ></a></i>
        <i class="ti-angle-right"> <a>{{this.name}}</a> </i>
    </div>
    <div class="detail-container">
        <div class="detail-img">
            <img src="{{this.image}}" width="100%">
        </div>
        <div class="detail-content">
            <div class="detail-name information">
                <span>Giày tên: {{this.name}}</span>
            </div>

            <div class="detail-price information">
                <span>Giá: {{this.price}}</span>
            </div>

            <div class="detail-size information">
                <span>Size : </span>
                <span id ="info--size">{{this.size}}</span>
            </div>

            <div class="detail-stock information">
                <span>Còn: {{this.stock}} sản phẩm   </span>
            </div>

            <div class="detail-buy">
                <form>
                <button>MUA NGAY</button>
                </form>
            </div>
            <div class="detail-contract">
                <div class="detail-phone">Tư vấn: 0123456789</div>
                <img src="https://theme.hstatic.net/1000230642/1000679613/14/zalopay.png?v=4184" >
                <img src="https://theme.hstatic.net/1000230642/1000679613/14/visa.png?v=4184" >
                <img src="https://theme.hstatic.net/1000230642/1000679613/14/mastercard.png?v=4184" >
                <img src="https://theme.hstatic.net/1000230642/1000679613/14/cod.png?v=4184" >
            </div>
        </div>
    </div>
    <div class="detail-review">
        <div class="detail-review-cmt">
            <input type="text" placeholder="Bình luận sản phẩm tại đây">
        </div>
        <div class="detail-review-submit">
            <button>Gửi đánh giá </button>   
        </div>
    </div>