<div class="container-cart">

    <div class="title section-title">
        <h3 class="section-bestseller title secondary-title">QUẢN LÝ ĐƠN HÀNG</h3>
    </div>

    <div class="content-table table-hover">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tổng tiền</th>
                    <th scope="col">Thời gian</th>
                    <th scope="col">SĐT</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Trạng thái</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {{#each Orders}}
                <tr >
                    <th scope="row">{{this.order_id}}</th>
                    <td>{{this.total}}</td>
                    <td>{{this.order_time}}</td>
                    <td>{{this.order_phone}}</td>
                    <td>{{this.address}}</td>
                    <td>{{this.status}}</td>
                    <td>
                        <a href="/orderDetail/{{this.order_id}}/detail"  class="payment_option order_detail" style="padding: 5px; font-size:15px">
                            Chi tiết
                        </a>
                    </td>
                    <td>
                        <a href="" class="payment_option order_detail" style="padding: 5px; font-size:15px">
                            Xóa
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>

    <div class="Page example">
        <ul class="pagination justify-content-center">
            <li class="page-item ">
                <a class="page-link" href="/quanlidonhang?page={{this.PreviousPage}}">Trước</a>
            </li>
            <li class="page-item"><a class="page-link">{{this.page}}</a></li>
            <li class="page-item">
                <a class="page-link" href="/quanlidonhang?page={{this.NextPage}}">Tiếp theo</a>
            </li>
        </ul>
    </div>

</div>